{% extends "sic/public/base.html" %}
{% load static %}

{% block title %}[sic]{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}

{% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
{% endif %}

      <form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <h2 class="form-signin-heading">Sign In</h2>
        <label for="id_username" class="sr-only">Username</label>
        <input type="text" name="username" id="id_username" class="form-control" placeholder="Username" required autofocus>
        <label for="id_password" class="sr-only">Password</label>
        <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="login" />
      </form>

    </div> <!-- /container -->


{% endblock %}
